@media only screen and (max-width: 768px) {
    header{
        display: flex;
        justify-content: space-between;
        background-color: #cd9c31;
        font-weight: 500;
        border-bottom: 2px solid #9B3E15;
        .header-logo{
            width: 40px;
            height: 40px;
            margin: 8px 15px;
            align-items: center;
        }
        nav{
            display: none;
        }
        .header-icons{
            width: 10px;
            height: 28px;
            padding: 4px 25px;
            display: flex;
            justify-content: end;
            margin: 12px 15px 0px 15px;
            gap: 10px;
        }
    }
}
.container-libros{
    h2{
        font-size: 150%;
        color: #9B3E15;
        padding: 5px;
        margin: 15px;
    }
    .form{
        display: flex;
        align-items: center;
    }
    .container-libros-img{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;
        .container-book{
            display: flex;
            flex-direction: column;
            text-align: center;
            a{
                img{
                    width: 50%;
                }
                
            }
            p{
                display: none;
                color: black;
                padding: 5px;
                margin: 5px;
            }
        }
    }
}
.container-cafe{
    h2{
        font-size: 2em;
        color: #9B3E15;
        padding: 5px;
        margin: 15px;
    }
    .container-cafe-img{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        padding: 15px;
        .container-coffee{
            display: flex;
            flex-direction: column;
            text-align: center;
            transition: 5seg;
       
            a{
                img{
                    width: 50%;
                    &:hover{
                        transform: rotate(360deg);
                        }   
                }
                
            }
            p{
                color: black;
                padding: 5px;
                margin: 5px;
            }
        }    
    }
}