.container-nos{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCE5DB;
    h1{
        font-size: 2em;
        color: #9B3E15;
        padding: 5px;
        margin: 50px 8px 50px 50px;
    }
    p{
        color: black;
        padding: 5px;
        margin: 50px 8px 50px 50px;
        span{
            font-style: italic;
        }
    }
}